.prettierignore
.prettierrc.json
.vscode-test.mjs
eslint.config.mjs
esbuild.mjs
src/**
test/**
test-fixtures/**
node_modules/**
out/**
scripts/**
tsconfig.json
**/*.map
media/icon-source.png
media/source/**
